<div class='span6 offset3'>
  <h1 class='text-center'>Edit Your Profile</h1>

  <%= render 'athlete_form' %>
  or <%= link_to 'Change Password', change_password_path, class: 'btn btn-large' %>
</div>
