<h1 class='text-center'>Roster</h1>
<div class='roster_listing span8'>
  <ul class='roster_list'>
    <% if !@current_season_athletes.nil? && @current_season_athletes.any? %>
      <% @current_season_athletes.each do |athlete| %>
        <li>
          <ul class='roster_item <% if signed_in? %>span8<% else %>span4<% end %>'>
            <li class='span2'><%= athlete.name %></li>
            <li class='span1'><%= athlete.year_in_school %> year</li>
            <% if signed_in? %>
              <li class='span2'><%= athlete.email %></li>
              <li class='span2'><%= athlete.phone_number %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
