<div id='new_user_sidebar'>
  <p class='text-center'><strong>New Here?</strong></p>
  <ul class='nav nav-list'>
    <li><%= link_to "Join the Team", '#' %></li>
    <li><%= link_to "Contact an Officer", '#' %></li>
    <li><%= link_to "View Season Schedule", '#' %></li>
  </ul>
</div>
