<div id='new_user_sidebar'>
  <h3 class='text-center'>New Here?</h3>
  <ul class='nav nav-list'>
    <li><%= link_to "Join the Team", '#' %></li>
    <li><%= link_to "Contact an Officer", '#' %></li>
    <li><%= link_to "View Season Schedule", '#' %></li>
  </ul>
</div>
