// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_user_sidebar {
  margin-top: 40px;

  h3 {
    color: ForestGreen;
  }

  ul.nav-list {
    margin-top: 10px;
    background-color: #eee;
  }
}

small {
  display: block;
}

#announcements_pane {

  h1 {
    color: ForestGreen;
  }

  li.title {
    margin-top: 30px;
    padding: 5px;
    list-style: none;
  }

  li.content {
    padding: 5px;
    list-style: none;
    border-top: 1px solid black;
  }


  .meta-data {
    display: block;
    text-align: right;
  }
}

