<ul class='nav pull-left'>
  <li>
    <%= link_to "Cal Poly Men's Water Polo", root_path, :class => 'brand' %>
  </li>
</ul>
<ul class='nav pull-right'>
  <li class='divider-vertical'></li>
  <li>
    <%= link_to('Schedule', '#') %>
  </li>
  <li class='divider-vertical'></li>
  <li>
    <%= link_to('Roster', '#') %>
  </li>
  <li class='divider-vertical'></li>
  <li>
    <%= link_to('Administrativa', '#') %>
  </li>
  <li class='divider-vertical'></li>
</ul>
